<a href="https://colab.research.google.com/github/kshin2458/learn_pd/blob/master/learn_pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
l=[["Serge",70,180,17],["Kid",54,160,19],["Sarah",50,157,27],["Alfe",80,195,32]]

df=pd.DataFrame(l, columns=["name","mass","tall","age"])
df.set_index("name")

       mass  tall  age
name
Serge    70   180   17
Kid      54   160   19
Sarah    50   157   27
Alfe     80   195   32

In [6]:
namelist=df.name.tolist()
print(namelist)

['Serge', 'Kid', 'Sarah', 'Alfe']

In [8]:
for name in namelist:
  print(df[name])

KeyError: ignored